@charset "UTF-8";

*{
    margin:0px;
    padding:0px;
}

html, body{
    height: 97vh;
    width: 97vw;
}


body{
    background: black url("imagens/fundo-madeira.jpg") no-repeat fixed center center;
    background-size: cover;
}

#telefone{
    background-image: url("imagens/frame-iphone.png");
    background-size: cover;
    width: 330px;
    height: 660px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tela{
    position:absolute;
    left: 23px;
    bottom: 72px;
}

#icones{
    display: inline;
    float: right;
    margin-top: 20px;
}

.logo{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
    display: block;
}

.logo:hover{
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transition: transform .3s, border 1s;
}