@import "UTF-8";

*{
    font-family: 'Helvetica neue', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #5f2c82;
    width: 100vw;
    height: 100vh;
}

main{
    width: 100vw;
    height: 100vh;
}

#login{
    background-color: white;
    width: 250px;
    height: 530px;
    border: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    overflow:hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

#login>#imagem{
    background: url("../imagens/fundo-login.jpg") no-repeat fixed bottom center;
    background-size: cover;
    height: 200px;
    display: block;
}

#login>#formulario{
    padding: 10px;
    display: block;
}

#formulario h1{
    text-align: center;
    margin-bottom: 10px;
}

#formulario p{
    font-size: 0.8em;
}

form>input[type="submit"]{
    display: block;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
}

.campo{
    background-color: #5f2c82;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

form>input[type="submit"]:hover{
    background-color: #2f6663;
    cursor: pointer;
}

form>#button{
    display: block;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: #408b89;
    text-decoration: none;
    margin-top: 30px;
}

form>#button:hover{
    cursor: pointer;
    color: blue;
}

form>a>#icon{
    font-size: 1em;
    display: block;
    margin: 5px;
}

@media screen and (min-width: 768px){
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login{
        width: 80vw;
    }

    #login>#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    #login>#formulario{
        float:right;
        width: 70%;
        height: 100%;
    }
}

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login{
        width: 950px;
    }

    #login>#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    #login>#formulario{
        float:left;
        width: 50%;
        height: 100%;
    }

    #formulario h1{
        font-size: 1.9em;
    }

    #formulario p{
        font-size: 1.1em;
    }
}
